.btn-1{
    display: flex;
padding: 9px 25px;
height: 45px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 1px solid #FFF;
background: linear-gradient(90deg, #07DA07 0%, #0B430B 91.46%);
color: #fff;
}
